[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
black = "*"
pylint = "*"

[packages]
yattag = "*"
sh = "*"
pysolc = {editable = true,git = "https://github.com/Jonasmpi/py-solc.git"}
web3 = {extras = ["tester"],version = "*"}
vyper = "*"

[requires]
python_version = "3.7"
